a:link {
    color: #0066CC;
}

a:visited {
    color: #800080;
}

.card {
    min-height: 20vh;
}

.card img {
    width: 100%;
}

.caption {
    margin-top: .5rem;
}

.content.section {
    padding-top: .5rem;
}

.inline-list li {
    display: inline;
}

.navbar-dropdown {
    max-height: 70vh;
    overflow: scroll;
}

/* responsive embed */
.embed {
    background: #000000;
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed iframe {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
}