.card {
    min-height: 150px;
}

/* responsive embed */
.embed {
    background: #000000;
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed iframe {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    height: 96%;
}